:root{
    --bg-color:#84a98c;
    --bg-color-card:#52796f;
    --text-sec-color: #2f3e46;
   
}
/*paleta de colores
    -1 #2f3e46
    -2 #354f52
    -3 #52796f
    -4 #84a98c
    -5 #cad2c5
*/


body{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: 0;
    background-color: var(--bg-color);
}

a{
    text-decoration: none;
    color: var(--text-sec-color);
    font-weight: 600;
}

ul, li {
    list-style: none;
}
/*CABECERA*/

.cabecera{
    display: flex;
    align-items: center;
    padding: 1rem;
}

.cabecera__logo{
  max-width: 30px;
}
.cabecera__titulo{
    font-size: 1.5rem;
    white-space: nowrap;
}
/*NAVEGACION */
.navegacion{
    display: flex; 
    width: 100%;
    }
    .navegacion__lista {
        display: flex;
        width: 100%;
    }
    .navegacion__elemento{
        display: none;
    } 
    .navegacion__elemento a{
        font-size: .9rem;
    }

    .navegacion__elemento__cont {
        margin-left: auto;  
        font-size: .9rem ;
    }

/* Seccion presentacion */
.presentacion{
    padding: 1rem;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
.presentacion__foto{
    max-width: 80px;
    border-radius: 50%;
}
.presentacion__contenedor{
    justify-content: center;
    align-items: center;
}
.redes{
    display: flex;
    align-items: center;
    white-space: nowrap;
    flex-wrap: nowrap;
    gap: 7px;
}
.redes__img img{
    max-width: 12px;
}
.redes__img a{
    font-weight: 700;
}

/* Seccion Sobre mi*/

.sobre-mi{
    padding: 1rem;
    background-color: var(--bg-color-card);
}
.titulos{
    font-size: 1.5rem;
    text-align: center;
}
.img-firma{
    max-width: 8rem;
}


/*Seccion Habilidades*/

.habilidades{
    display: flex;
    flex-direction: column;
}

.habilidades_lista{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}
.habilidades_elemento{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color-card);
    min-width: 100px;
    min-height: 100px;
    border-radius: 10px;
    font-weight: 600;
    white-space: wrap;
}
.habilidades_elemento img{
    max-width: 30px;
}

/* Sección de hobbies */

.hobbies{
    display: flex;
    flex-direction: column;
}


.hobbies_lista{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.hobbies_elemento{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color-card);
    min-width: 100px;
    min-height: 100px;
    border-radius: 10px;
    font-weight: 600;
}
.hobbies_elemento img{
    max-width: 30px;
}

/*Sección de FORMACION ACADEMICA */

.formacion{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: var(--bg-color-card);
}


.formacion_elemento img{
    max-width: 250px;
    max-height: 250px;
}

.formacion_parrafo{
    font-weight: 700;
}

.bg_img{
    display: flex;
    justify-content: center;   
    background-color: #fff;
    border-radius: 10px;
}

/*Seccion Formacion personal*/
.experiencia{
    padding: 2rem;
}

.img_exp{
    display: flex;
    justify-content: center;
}

.img_exp img{
   max-width: 420px;
}
.exp_parrafo{
    text-align: center;
    font-weight: 700;
}
/*---------------------------------------------------------*/

/*Media Query para tablets*/

@media(min-width: 650px){

    .cabecera{
        padding: 0 3rem;
    }
    .titulos{
        font-size: 2rem;
        text-align: center;
    }

    /* Seccion presentacion*/
    
    .presentacion{
        display: flex;
        flex-direction: row-reverse;
        padding: 0 3rem;
    }
    .presentacion__foto{
        max-width: 7rem;
    }
    .redes{
        flex-direction: row;
        gap: 25px;
    }
    .presentacion__subtitulo{
        text-align: justify;
    }

    /* Seccion Sobre mi*/

    .sobre-mi_parrafo{
        text-align: justify;
        padding: 0 2rem;
    }
    .img-firma{
        max-width: 10rem;
        padding: 0 2rem;
    }
    

    /* Seccion habilidades*/

    .habilidades_lista{
        gap: 15px;
    }

    .habilidades_elemento{
        min-width: 200px;
        min-height: 200px;
    }

    .habilidades_elemento img{
        min-width: 80px;
    }

    /* Seccion hobbies*/

    .hobbies_lista{
        gap: 15px;
    }
    .hobbies_elemento{
        min-width: 200px;
        min-height: 200px;
    }
    .hobbies_elemento img{
        min-width: 80px;
    }

    /* Seccion formacion*/

    .formacion_lista{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .formacion_elemento img{
        max-width: 250px;
        max-height: 3000px;
    }
    #img_unicor{
        max-height: 200px;
    }
   
    .bg_img{
        min-height: 200px;
        align-items: center;
    }
    #img_alura{
        height: 100px;
    }
}

/*Media Query para Escritorio*/

@media(min-width:1000px){


    /*Cabecera*/
    .cabecera{
        padding: 0 8rem;
    }
    .cabecera__titulo{
        font-size: 2rem;
    }
    .presentacion__foto{
        max-width: 300px;
    }

    /*Navegacion*/
    .navegacion__elemento{
        display: flex; /*Muestra el menu de navegacion*/
    }
    .navegacion__lista{
        gap: 10px;
        width: auto;
        margin-left: auto;
    }

    .presentacion{
        padding: 0 8rem;
    }

    .sobre-mi{
      padding: 0 6rem;
    }
    .img-firma{
        max-width: 12rem;
    }
    
}